.mine {
  position: fixed;
  bottom: 80px;
  right: 40px;
  background-color: #e6e6e6 !important;
}

.app.black-light .ngx-charts text {
  fill: rgba(140, 140, 140, 1);
  font-weight: bold;
  font-size: 18px;
}
