<div class="row-wrap">
    <div class="flex-p w-100">
        <div class="row">
            <div class="col-xs-12">
                <div class="row" style="margin-bottom:7px;">
                    <div class="col-xs-6 ">
                        <div class="flex-p">
                            <app-project-master></app-project-master>
                        </div>
                    </div>
                    <div class="col-xs-6 ">
                        <div class="flex-p">
                            <button mat-raised-button class="pull-right  btn-primary" (click)="openProjectDialog(null)">
                                <mat-icon>add</mat-icon> Add Project
                            </button>
                            <button mat-raised-button class="pull-right  btn-primary margin-right-10"
                                (click)="openGridColumns()">
                                <mat-icon>grid_on</mat-icon> Grid Columns
                            </button>
                            <button mat-raised-button color="primary" class="pull-right filters-hover margin-right-10"
                                (click)="filterToggle = !filterToggle">
                                <mat-icon>filter_list</mat-icon> Filter
                            </button>

                        </div>

                    </div>
                </div>

                <div fxLayout="row wrap" *ngIf="filterToggle">
                    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
                        <mat-card class="filter">
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 newMarginClass">
                                            By Project#:
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="Search by Project#" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 newMarginClass">
                                            By Client:
                                        </div>
                                        <div class="col-sm-8">
                                            <mat-select class="form-control" placeholder="Search by Client">
                                                <mat-option [value]="0">Biotherm Industries</mat-option>
                                                <mat-option [value]="1">Apex Ecotech Pvt Ltd</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 newMarginClass">
                                            By In Charge:
                                        </div>
                                        <div class="col-sm-8">
                                            <mat-select class="form-control" placeholder="Search by In Charge">
                                                <mat-option [value]="0">Dhanraj</mat-option>
                                                <mat-option [value]="1">Raj Kumar</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="margin-top: 20px;">
                                        <div class="col-sm-4 newMarginClass">
                                            By Start Date:
                                        </div>
                                        <div class="col-sm-8">

                                            <input class="form-control" placeholder="MM/DD/YYYY" class="form-control"
                                                id="db" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
                                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>

                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="margin-top: 20px;">
                                        <div class="col-sm-4 newMarginClass">
                                            By Due Date:
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control" placeholder="MM/DD/YYYY" class="form-control"
                                                id="db" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2">
                                            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="margin-top: 20px;">
                                        <div class="col-sm-4 newMarginClass">
                                            By Status:
                                        </div>
                                        <div class="col-sm-8">
                                            <mat-select class="form-control" placeholder="Search by Status">
                                                <mat-option [value]="0">Active</mat-option>
                                                <mat-option [value]="1">On Hold</mat-option>
                                                <mat-option [value]="2">Completed</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" style="margin-top: 20px;"></div>
                                    <div class="col-sm-4" style="margin-top: 20px;"></div>

                                    <div class="col-lg-1" style="margin-top: 20px;margin-left:195px!important;">
                                        <button mat-raised-button class="pull-right btn-primary">
                                            <mat-icon>youtube_searched_for</mat-icon> Search
                                        </button>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"
                                        style="margin-top: 20px;margin-left: -18px;">
                                        <button mat-raised-button
                                            style="background-color:#37474f; color:#fff !important">
                                            <mat-icon>settings_backup_restore</mat-icon> Clear
                                        </button>
                                    </div>
                                    <a (click)="filterToggle = !filterToggle" class="pull-right"
                                        style="margin-top: 20px;font-size: 25px; cursor: pointer; margin-left: 5px;">
                                        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-xs-12">
                        <div id="grid-table-container" class="table-responsive">
                            <table matSort id="example2" class="table table-bordered table-hover">
                                <thead class="tbl-head">
                                    <tr>
                                        <th style="min-width:80px">Project #</th>
                                        <th>Project Name</th>
                                        <th>Client Name</th>
                                        <th>Project Type</th>
                                        <th>Location</th>
                                        <th>In Charge</th>
                                        <th class="text-center">Jobs</th>
                                        <th class="text-center" style="min-width:100px">Start Date</th>
                                        <th class="text-center" style="min-width:100px">Delivery Date</th>
                                        <th class="text-center">Status</th>
                                        <!-- <th class="text-center">Awarded Amount</th>
                                        <th class="text-center">Invoiced Amount</th>
                                        <th class="text-center" style="min-width:100px">Due Amount</th> -->

                                        <th class="text-center" style="width: 112px!important;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of values">
                                        <td style="min-width: 70px !important;">
                                            {{item.project}}

                                        </td>
                                        <td>
                                            {{item.projectName}}
                                        </td>
                                        <td>
                                            {{item.clientName}}

                                        </td>
                                        <td>
                                            {{item.projectType}}

                                        </td>
                                        <td>
                                            {{item.location}}

                                        </td>
                                        <td>
                                            {{item.incharge}}

                                        </td>
                                        <td class="text-center">
                                            <a style="color:blue;text-decoration:underline">{{item.jobs}}</a>
                                        </td>
                                        <td class="text-center">
                                            {{item.start}}

                                        </td>
                                        <td class="text-center">
                                            {{item.setup}}

                                        </td>
                                        <td [ngStyle]="{'color': item.status=='Active'? 'blue' :item.status=='On Hold'? 'Green' : 'red'}"
                                            style="text-align: center !important;">
                                            {{item.status}}
                                        </td>
                                        <td class="text-center">
                                            <a style="cursor: pointer;margin-right:10px; " matTooltip="Update Project">
                                                <i class="fa fa-edit" style="color: cornflowerblue"></i>
                                            </a>
                                            <a><i class="fa fa-trash red" matTooltip="Delete Project"
                                                    style="cursor: pointer;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>