
<p class="col-sm-12" style="margin-top: 20px !important;">
    <span style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Name:</span>
    <span style="font-size: 16px; margin-right: 8px">P-12564 (79GGXC Gloucester, Ottawa)</span>
    <span class="pull-right" style="font-size: 16px; margin-right: 8px;margin-top: 2px;"> Active</span>
    <span class="pull-right" style="font-size: 18px;font-weight: bold; margin-right: 8px">Project Status:</span>
    
    <!-- <span style="font-size: 16px; margin-right: 8px">(Toronto Towers) </span> -->
</p>
<div class="row" style="padding: 5px 24px 10px 23px">
    <!-- <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/activity"
    class="col-sm font-color">Activity (12)
    <br /> </a> -->
    <a routerLinkActive="active-link" routerLink="/me/projects/project-dashboard/metrics" class="col-sm font-color">Metrics
        <br /></a>
        <!-- <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/overview"
        class="col-sm font-color">Overview (5)
        <br /></a> -->
        
        <a routerLinkActive="active-link" routerLink="/me/projects/project-dashboard/modules&devices"
        class="col-sm font-color" >Modules & Devices (17)
        <br />
    </a>
    <a routerLinkActive="active-link" routerLink="/me/projects/project-dashboard/exceptions"
        class="col-sm font-color" >Exceptions
        <br />
    </a>
    <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/scope" class="col-sm font-color">Scope
        <br /></a> -->
        <!-- <a routerLinkActive="active-link" routerLink="/bw/manage/projects/project-dashboard/budget" class="col-sm font-color">Budget
            <br /></a> -->
            
            
            <!-- <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/ganttchart"
            class="col-sm font-color" style="padding:8px!important;">Gantt Chart (18)
            <br /></a>
            <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/fat"
            class="col-sm font-color">FAT (15)
        </a> -->
        <!-- <a routerLinkActive="active-link" routerLink="/ibs/projects/project-dashboard/manage" class="col-sm font-color">Manage
            <br /></a> -->
            <!--   
                <a routerLinkActive="active-link" routerLink="/bw/manage/projects/project-dashboard/tender" class="col-sm font-color">Tender
                    <br /> </a> -->
                    <!-- <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/linetrials"
                    class="col-sm font-color">Line Trials (22)
                    <br /></a>
                   
                    <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/capa"
                    class="col-sm font-color">CAPA (26)
                </a>
                <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/artwork"
                class="col-sm font-color">Artwork (21)
                <br />
            </a>
            <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/specs"
            class="col-sm font-color">Specs (12)
            <br /></a>
            <a routerLinkActive="active-link" routerLink="/mpki/projects/project-dashboard/otherdocs"
            class="col-sm font-color" style="padding:8px!important;">Other Docs (13)
            <br /></a> -->
        </div>
        
        <div class="w-100">
            
            <div class="flex-p">
                <div class="row wrap">
                    <div class="col-sm-12 no-padding">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>

