
<div class="NewHeader">
  <h1 mat-dialog-title> Add Task</h1>
</div>
<div mat-dialog-content>
  
  <form class="form-horizontal">
    <!-- <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Entity : </label>
      <div class="col-sm-8">
        <mat-select class="form-control" id="status" placeholder="Select Entity">
          <mat-option [value]=0>Stonefield</mat-option>
          <mat-option [value]=1>Stonefactory</mat-option>
          <mat-option [value]=2>IBW</mat-option>
          <mat-option [value]=3>Transreport Services</mat-option>
          <mat-option [value]=4>PermiShare</mat-option>
        </mat-select>
      </div>
    </div> -->
    <!-- <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Module : </label>
      <div class="col-sm-8">
        <mat-select class="form-control" id="status" placeholder="Select Module">
          <mat-option [value]=0>Ideation</mat-option>
          <mat-option [value]=1>Concept Development</mat-option>
          <mat-option [value]=2>Product Development</mat-option>
          <mat-option [value]=3>Shelf Life Testing</mat-option>
          <mat-option [value]=4>Packaging Decision</mat-option>
        </mat-select>
      </div>
    </div> -->
    <div class="form-group">
      <label class="control-label col-sm-4 add-member-label">Module : </label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="step" placeholder="Enter Module name">
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="control-label col-sm-4">Step Type:</label>
      <div class="col-sm-8">
        <select class="form-control" id="type">
          <option  >--Select--</option>
          <option value="note">Note</option>
          <option value="sequence">Sequence</option>
        </select>
      </div>
    </div> -->
    
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn-primary" (click)="saveStep()" [mat-dialog-close]="'test'">Save</button>
  <button mat-raised-button class="CancelClass" (click)="close()">Close</button>
</mat-dialog-actions> 